<app-navbar></app-navbar>

 
          <div class="quiz">
                <ng-container  *ngFor="let options of questions | async "> 
                    <ng-container  *ngIf="options.data.QnID==quizService.qnProgress">
                      <div class="ko">
                        <img src="{{options.data.ImageURL}}" style="margin: auto; height: 250px; width: 300px;">

                                        <p>Question {{options.data.QnID}}/5</p>
                                      </div>
                            <div class="question">
                                <div class="title" >{{options.data.Qn }}</div>
                            </div>  
                            <div class="answers">         
                    <ng-container *ngFor="let option of options.data.Option  ; let i = index" >     
                           <div class="answer"   (click)="quizService.Answer(options.data.Answer,i)">  {{option}}  </div>       
                </ng-container>
                </div>


                <div class="right-wrong-text" >
                    <div class="wrong"  *ngIf="quizService.correct1=='InCorrect'" > 
                    Wrong, nice try!
                    </div>
                    <br>
                    <div class="right"  *ngIf="quizService.correct1=='Correct'"> 
                     Correct, nice job!
                    </div>
                  </div>   
              </ng-container> 
          </ng-container>
               
            </div>

<script type="text/javascript">
    $(function(){
      $('.answer').hover(function(){
        $(this).width(1.25*$(this).width());
        $(this).height(1.25*$(this).height());
      }, function(){
        $(this).width(0.8*$(this).width());
        $(this).width(0.8*$(this).height());
      });
    });
</script>

 

            <!--

             <li tabindex="1" class="collection-item" (click)="quizService.Answer(options.data.Answer,i)" > 
                     {{option}}
                  </li>
                    <img  src="{{option}}" (click)="quizService.Answer(options.data.Answer,i)" style="height: 400px; width: 400px;  border:8px solid #999999;">


              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Submit</button>
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
              
                   <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h1 class="modal-title">{{quizService.loggedInUsername}}</h1>
                    </div>
                    <div class="modal-body" >
                        <!--<ng-container  *ngFor="let optio of users | async "> 
                             <h1>You Score:</h1><tr><h1>{{correctAnswerCount}}/5</h1><br><h1>{{correct}}</h1>--> 
                         <!--</ng-container>optio.data.Score-->
                     <!--</div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="restart()">Restart</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="submitanswer()">Submit</button>
                    </div>
                  </div>
              
                </div>
              </div>-->

    

 