#a_background {

    background: url(https://firebasestorage.googleapis.com/v0/b/myfinalproject-e3283.appspot.com/o/imagge%2Fdarkened_background.jpg?alt=media&token=7131227a-3562-43a3-b979-072515a06af7) center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#a_margin {
    height: -webkit-fill-available;
    margin: 0 100px;
    padding-top: 62px;
}

#a_contentbox h1, p {
color: white;
margin-left: 80px;
margin-right: 80px;
}

.a_title {
    margin-bottom: 35px;
    padding-top: 30px;
}

.a_text {
    font-size: larger;
    text-align: left;
}

#a_contentbox {
    text-align: center;
    background-color: #282828;
    height: 100%;
}

#a_flexcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
}

.a_img {
    background: url(https://firebasestorage.googleapis.com/v0/b/myfinalproject-e3283.appspot.com/o/imagge%2Fsustain.jpg?alt=media&token=7b849999-ab4f-4e9d-ae98-54abc003c139) no-repeat center;
    background-size: cover;
    grid-column: 2;
    margin-right: 80px;
}