#a_background {

    background: url(src\assets\img\darkened_background.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#a_margin {
    height: -webkit-fill-available;
    margin: 0 100px;
    padding-top: 62px;
}

#a_contentbox h1, p {
color: white;
margin-left: 80px;
margin-right: 80px;
}

.a_title {
    margin-bottom: 35px;
    padding-top: 30px;
}

.a_text {
    font-size: larger;
    text-align: left;
}

#a_contentbox {
    text-align: center;
    background-color: #282828;
    height: 100%;
}

#a_flexcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
}

.a_img {
    background: url(src\assets\img\sustain.jpg) no-repeat center;
    background-size: cover;
    grid-column: 2;
    margin-right: 80px;
}