<app-navbar></app-navbar>
<div class="fluid-container" id="a_background">

        <div class="fluid-container" id="a_margin">
    <div class="fluid-container" id="a_contentbox">
        

            <h1 class="a_title">What is this page about?</h1>

            <div class="fluid-container" id="a_flexcontainer">
                <div>
            <p class="a_text">This page is about teaching people to throw thrash out in the proper way. 
                Thereby making a more sustainable future. Throwing thrash out properly is important, because it makes it recyclable, which decreases the amount of waste we produce.
                By reducing the amount of waste, we don't need to use resourses and Co2 to get rid of it. 
                <br><br>
            
            How we will achive this? We have created two different games, with the same purpose. The first game tests people perspective on how they will treat trash, and give them a score dependent on how they did. 
        The second game teaches people where to throw their trash, correctly. </p>
            </div>
            <div class="a_img">

            </div>
            </div>
        </div>
    </div>
</div>
