<nav class="navbar navbar-default ">
    <h1 class="modal-title">{{quizService.loggedInUsername}}</h1>

       <ul class=" mainnav " >
          <ng-container *ngIf="quizService.numnber==0;">
        <li>
          <a  (click)="quizService.SignOut()">Signout</a>        
          <a  (click)="Restart()">Homepage</a>
          <a    routerLinkActive="active">Aboutpage</a>

        </li>
          </ng-container>
          <ng-container *ngIf="quizService.numnber==1;">
              <li>
                  <a  (click)="quizService.SignOut()">Signout</a>    
                  <a  (click)="Restart()">Homepage</a>
                 
                 <a    routerLinkActive="active">Aboutpage</a>

              </li>
                </ng-container>
      </ul>
   </nav>