     
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  font-size: 12px ;
  letter-spacing: 5px;
  height: 80px; 
  background-color: #2d2d30;
  border: black solid 1px;
  opacity: 0.9;
 
 }
 .navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar h1{
  color: #fff;

}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.mainnav li a {
  color: #fff ;
 font-family: Montserrat, sans-serif;
 font-size: 18px ;
  letter-spacing: 1px;
  padding: 0px 60px;
}