<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="Index.html"><h3>{{quizService.loggedInUsername}}</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <ng-container *ngIf="quizService.numnber==0;">
            <li class="nav-item item">
                <a  class="nav-link" (click)="Restart()">Homepage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link item" (click)="Aboutpage()"   routerLinkActive="active">Aboutpage</a>
            </li>
            <li class="nav-item">
              <!-- Can we make this work? -->
              <a href="" class="nav-link item" id="playbtn" data-toggle="modal" data-target="#modalLRForm">Login</a>                
            </li>
        </ng-container>

        <ng-container *ngIf="quizService.numnber==1;">
            <li class="nav-item">
                <a  class="nav-link item" (click)="Restart()">Homepage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link item" (click)="Aboutpage()"  routerLinkActive="active">Aboutpage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link item"  (click)="quizService.SignOut()">Signout</a> 
            </li>
          </ng-container>
      </ul>
  </div>
</nav>

<!--

<nav class="navbar navbar-default ">
  <h1 class="modal-title">{{quizService.loggedInUsername}}</h1>

     <ul class=" mainnav " >
        <ng-container *ngIf="quizService.numnber==0;">
      <li>
             
        <a  routerLink=""  routerLinkActive="active">Homepage</a>
        <a    routerLinkActive="active">Aboutpage</a>
        <a  (click)="quizService.SignOut()">Signout</a>   

      </li>
        </ng-container>
        <ng-container *ngIf="quizService.numnber==1;">
            <li>
                
                <a  routerLink=""  routerLinkActive="active">Homepage</a>
              
               <a    routerLinkActive="active">Aboutpage</a>
               <a  (click)="quizService.SignOut()">Signout</a>   

            </li>
              </ng-container>
    </ul>
 </nav>

 -->