.mainbody{
  background: url(src\assets\img\darkened_background.jpg) no-repeat center;
  background-size: cover;
  height:  100%;
 }

.example-container ::after {
  content: "";
  clear: both;
  display: table;
   background-color: rgba(255, 255, 255, 0.65);

}

.heading{
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center !important;
}

  .btn {
    background-color: #801c1c;
    color: white;
    border-color: #801c1c;
    margin: 0 20px;
}

.instruction{
  text-align: center;
    font-size: 18px;
    margin-top: 25px;
    color: white;
  
}

.example-container{
  display: flex;
  justify-content: center;
}
   .example-container2{
     height: 400px;
     width: 70%;
     margin: auto;
     padding: 40px;
     display: flex;
     justify-content: space-around;
   }
  
  .example-box  {
    float: left;
    width: 10%;
    margin: 0px 20px;
    opacity: 1.0;
  }
   
  .example-list1{
    width: 1050px;
    background-color: rgba(255,255,255,0.65);
    border-radius: 5px;
  }
  .Question1{
    height: auto;
    width: auto;
    float: left;
    background-color: rgba(255,255,255,0.65);
    text-align: center;
    border-radius: 5px;
    padding: 45px 15px 50px 15px;
  }
  .Question1:hover{
    background-color: rgba(255,255,255,1);
    color: white;
  }
  .img{
    height: 150px;
     width: 200px;
  }
  .card-action5{
    margin: auto;
    height: auto !important;
    text-align: center;
  }
  .card-action1{
    padding-bottom: 50px;
  }

  h6{
    font-size: 2em;
   margin-top: 0.67em;
   margin-bottom: 0.67em;
   font-weight: bold;
   color: white;    
  }
  
.wrong{
  width: 150px;
  height: 100px;
  background-color:  #801c1c;
  border-radius: 5px;
  padding: 30px 0;
  position: absolute;
  color: #ffffff;
  top: 240%;
  left: 17%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;

}

.right{
  width: 150px;
  height: 100px;
  background-color: #34b334;
  color: #ffffff;
  border-radius: 5px;
  padding: 30px 0;
  position: absolute;
  top: 240%;
  left: 17%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;


}
  .card-action5{
    height: 70px;
    margin: 0px 600px;
  }
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
  }
  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }