<app-navbar></app-navbar>

<h1>displaypage works!</h1>
<ul>
    <li>
        <ng-container *ngIf="quizservice.numnber==1;">
        <a  routerLink="/quiz"  routerLinkActive="active">Normal Quiz</a>
        <a  routerLink="/drag"  routerLinkActive="active">DragnDrop Quiz</a>
         </ng-container>
    </li>
</ul>

<ng-container *ngIf="quizservice.numnber==0;">
<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
          <!--Content-->
          <div class="modal-content">
      
            <!--Modal cascading tabs-->
            <div class="modal-c-tabs">
      
              <!-- Nav tabs -->
              <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
                    Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                    Register</a>
                </li>
              </ul>
      
              <!-- Tab panels -->
              <div class="tab-content">
                <!--Panel 7-->
                <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
      
                  <!--Body-->
                  <div class="modal-body mb-1">
                <form [formGroup]="form" (ngSubmit)="login()">
                        <div class="form-group">
                                <label for="Name">Username</label>
                                <input  type="text" class="form-control" formControlName="Name"> 
                                <div *ngIf="form.controls.Name.touched && 
                                !form.controls.Name.valid" class="alert alert-danger">
                                Username is Required
                            </div>
                              </div>
       
                       <button [disabled]="!form.valid" class="btn btn-info" type="submit">Log in <i class="fas fa-sign-in ml-1"></i></button>
                 </form>
                  </div>
                  <!--Footer-->
                  <div class="modal-footer">
                  
                    <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                  </div>
      
                </div>
                <!--/.Panel 7-->
      
                <!--Panel 8-->
                <div class="tab-pane fade" id="panel8" role="tabpanel">
      
                  <!--Body-->
                  <div class="modal-body">
                      <div class="form-group">
                            <form [formGroup]="form" (ngSubmit)="onSignup()">
                                    <div class="form-group">
                                            <label for="Name">Username</label>
                                            <input  type="text" class="form-control" formControlName="Name"> 
                                            <div *ngIf="form.controls.Name.touched && 
                                            !form.controls.Name.valid" class="alert alert-danger">
                                            Username is Required
                                        </div>
                                      
                                          </div>
                                         
                           <button class="btn btn-info" type="submit">Sign up <i class="fas fa-sign-in ml-1"></i></button>
                             </form>
                      </div>
                       
                  </div>
                  <!--Footer-->
                  <div class="modal-footer">
                  
                        <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                      </div>
                </div>
                <!--/.Panel 8-->
              </div>
      
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>
      <!--Modal: Login / Register Form-->
      
      <div class="text-center">
        <a href="" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm">play games</a>
       </div>
    </ng-container>

 