#f_background {
    background: url(src\assets\img\backwithtext.jpg) no-repeat center;
    background-size: cover;
    height: 700px;
    width: 100%;
    display: flex;
    position: relative;
}

#split1, #split2 {
height: 100%;
width: 100%;
}

#split1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
} 

#split2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 155px;
}

#button_split {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#text_split {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#text_split h2 {
    color: white;
}

#btn_normal, #btn_drag {
    background-color: #801c1c;
    border-color: #801c1c;
    height: 45px;
    width: 230px;
}

#btn_normal a, #btn_drag a {
    color: white;
}

.text-center {
    position: absolute;
    bottom: 20%;
    left: 28%;
}

#playbtn {
    background-color: #801c1c;
    border-color: #801c1c;
    height: 45px;
    width: 230px;
}

#playbtn h3 {
    color: white;
}

 
.tab-content{
    background: url(src\assets\img\darkened_background.jpg) no-repeat center;
    background-size: cover;
}

#modal_main {
    background-color: #282828;
    color: white;
}

.btn-info {
    background-color: #801c1c;
    border-color: #801c1c;
}


