<app-navbar></app-navbar>

<div class="fluid-container" id="f_background">
  <div class="fluid-container" id="split1">

    <div class="fluid-container" id="button_split">

      <ng-container *ngIf="quizservice.numnber==1;">

        <div class="btn btn-default btn-rounded my-3" id="btn_normal">
          <a  routerLink="/quiz"  routerLinkActive="active"><h3>Normal Quiz</h3></a>
        </div>

        <div class="btn btn-default btn-rounded my-3" id="btn_drag">
          <a  routerLink="/drag"  routerLinkActive="active"><h3>DragnDrop Quiz</h3></a>
        </div>

      </ng-container>

      </div>
  </div>

  
  <div class="fluid-container" id="split2">
    <div class="fluid-container" id="text_split">
      <h2>Teaching how to throw trash out to make a more sustainable future!</h2>
    </div>
  </div>

<ng-container *ngIf="quizservice.numnber==0;">
<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
          <!--Content-->
          <div class="modal-content" id="modal_main">
      
            <!--Modal cascading tabs-->
            <div class="modal-c-tabs">
      
              <!-- Nav tabs -->
              <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" id="navtab" data-toggle="tab" href="#panel7" role="tab">
                    Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="navtab" data-toggle="tab" href="#panel8" role="tab">
                    Register</a>
                </li>
              </ul>
      
              <!-- Tab panels -->
              <div class="tab-content">
                <!--Panel 7-->
                <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
      
                  <!--Body-->
              <div class="modal_back">
                  <div class="modal-body mb-1">
                <form [formGroup]="form" (ngSubmit)="login()">
                        <div class="form-group">
                                <label for="Name"><h3>Enter Username</h3></label>
                                <input  type="text" class="form-control" formControlName="Name"> 
                              </div>
                              <div *ngIf="form.controls.Name.touched && 
                              !form.controls.Name.valid" class="alert alert-danger">
                              Username is Required
                          </div>
                              <div *ngIf= "quizservice.errormessage1" class="alert alert-danger" >
                                {{quizservice.errormessage1}}
                            </div>
                       <button  class="btn btn-info" type="submit">Log in</button>
                 </form>
              </div>

                </div>
                  <!--Footer-->
                  <div class="modal-footer">
                  
                    <button type="button" class="btn btn-outline-info waves-effect ml-auto" id="d_close" data-dismiss="modal">Close</button>
                  </div>
      
                </div>
                <!--/.Panel 7-->
      
                <!--Panel 8-->
                <div class="tab-pane fade" id="panel8" role="tabpanel">
      
                  <!--Body-->
                  <div class="modal_back">
                  <div class="modal-body" id="modal_abs">
                      <div class="form-group">
                            <form [formGroup]="form" (ngSubmit)="onSignup()">
                                    <div class="form-group">
                                            <label for="Name"><h3>Create Username</h3></label>
                                            <input  type="text" class="form-control" formControlName="Name"> 
                                          </div>
                                          <div *ngIf="form.controls.Name.touched && 
                                          !form.controls.Name.valid" class="alert alert-danger">
                                          Username is Required
                                      </div>
                                          <div *ngIf= "quizservice.errormessage" class="alert alert-danger" >
                                            {{quizservice.errormessage}}
                                        </div>
                           <button class="btn btn-info" type="submit">Sign up </button>
                             </form>
                      </div>
                       
                  </div>

                </div>
                  <!--Footer-->
                  <div class="modal-footer">
                  
                        <button type="button" class="btn btn-outline-info waves-effect ml-auto" id="d_close" data-dismiss="modal">Close</button>
                      </div>
                </div>
                <!--/.Panel 8-->
              </div>
      
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>
      <!--Modal: Login / Register Form-->
      
      <div class="text-center">
        <a href="" class="btn btn-default btn-rounded my-3" id="playbtn" data-toggle="modal" data-target="#modalLRForm"><h3>Play Game!</h3></a>
       </div>
    </ng-container>

  </div>
