<app-navbar></app-navbar>

<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="col s6">
        <h2>Quiz Registration</h2>
      </div>
      <div class="card-content">
        <form [formGroup]="form" (ngSubmit)="onSignup()">
          <div class="form-group">
            <label for="Name">Username</label>
            <input  type="text" class="form-control" formControlName="Name"> 
          </div>
          <button class="btn btn-primary" type="submit">Sign Up</button>
      </form>
      <form [formGroup]="form" (ngSubmit)="login()">
        <div class="form-group">
          <label for="Name">Username</label>
          <input  type="text" class="form-control" formControlName="Name"> 
        </div>
        <button class="btn btn-primary" type="submit">login</button>
    </form>
      </div>
    </div>
  </div>
</div>